*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    font-style: normal;
}
a,a:hover,a:active,a:focus{
    color: inherit;
    text-decoration: none;
}
input,button{
    outline: none;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
}
.disFlex{
    display: flex;
}
.dis-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disBlock{
    display: block;
}
.color80D3FE{
    color: #80D3FE;
}
.color64AFEA{
    color: #64AFEA;
}
.colorFF9191{
    color: #FF9191;
}
.colorFE7F7F{
    color: #FE7F7F;
}
.colorF79825{
    color: #F79825;
}
.colora9a9a9{
    color: #A9A9A9;
}
.color49E28C{
    color: #49E28C;
}
.color777{
    color: #777;
}
.color555{
    color: #555;
}
.color5B6CB2{
      color: #5B6CB2;
  }
.color4AC390{
    color: #4AC390;
}
.marRL{
    margin: 0 20px;
}
div.padT{
    padding: 45px 0 0 0;
}
.padding-l{
    padding-left: 55px;
}
.padding-tl{
    padding: 20px 0 0 55px;
}
.marT{
    margin-top: 10px;
}
.margin-top06{
    margin-top: 6px;
}
.marT2{
    margin-top: 20px;
}
.text-right{
    text-align: right;
}
.indexWrap{
  min-width: 1048px;
}
/*首页*/
.walletLeftWrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    padding-top: 35px;
    text-align: center;
    border-right: 1px solid #F1F1F1;
}
.walletLeftLogo{
    margin: 0 10px;
    border-bottom: 1px solid #F4F4F4;
}
.logoImg{
    width: 75px;
    height: 75px;
}
.walletLeftTitle{
    margin: 21px;
    font-size: 21px;
    color: #878787;
}

.searchFrame{
    width: 251px;
    height: 35px;
    line-height: 35px;
    margin: 15px auto 0;
    border-radius: 20px;
    background: #f1f1f1;
}
.searchIcon{
    margin-right: 6px;
    font-size: 20px;
    color: #A9A9A9;
    vertical-align: middle;
}
.searchInput{
    height: 25px;
    border: none;
    color: #8F9092;
    background: transparent;
}
/*test 0621*/
.searchCenter {
  margin-top: 15px;
  border-top: 1px solid #f1f1f1;
  height: calc(100vh - 320px);
  overflow-y: auto;
}

/*无用户时*/
.noWallet{
    width: 160px;
    height: 160px;
    margin-top: 200px;
}
/*有用户时*/
.searchLi.active .searchLiA,
.searchLi:hover .searchLiA{
    background: #E7F2FF;
}
.searchLiA{
    /*display: flex;*/
    /*padding: 10px 0 10px 30px;*/
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
}
.headImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #BCDCFE;
}
.searchLiInfo{
    align-self: center;
    margin-left: 7px;
    color: #8F9092;
    text-align: left;
}

.walletBtnWrap{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 299px;
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
    background: #fff;

}
.walletBtn{
    padding: 8px 16px 8px 45px;
    font-size: 16px;
    color: white;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    /*background: url(../img/walletImg.png) no-repeat 15px center;*/
}
.walletBtn:first-child{
    margin:0 15px;
}
/*右边*/
.walletRightWrap{
    position: relative;
    margin-left: 300px;
}
.walletToolBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 14px;
    height: 45px;
    line-height: 48px;
    font-size: 20px;
    color: #BFBFBF;
    border-bottom: 1px solid #F1F1F1;
    background: #fff;
}
.walletToolBar span{
    margin: 0 8px;
}
.trendImg{
    width: 20px;
    height: 20px;
    vertical-align: initial;
    margin: 0 8px;
}
.walletRightCenter{
    padding: 100px 0 0 55px;
    height: 100vh;
    /*text-align: center;*/
    background: #F8F9FD;
}
/*btn*/
.btnStyle{
    padding: 8px 40px;
    font-size: 16px;
}
/*教程*/
/*.walletRightCenter{*/
    /*background: #F8F9FD;*/
/*}*/
.walletTextBtn{
    width: 85%;
    color: #6071B4;
}
.btnGroup{
    margin-top: 20px;
}
.walletText{
    min-height: 450px;
}
.walletText p{
    font-size: 16px;
    line-height: 28px;
}
.walletText h3{
    margin-bottom: 20px;
}
/*表单*/
.foundLiInput{
    width: 500px;
    padding: 14px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #97CDF8;
    border: 1px solid #9DCCFF;
}
.foundLiInput::placeholder{
    color: #97CDF8;
}
.foundTextArea{
    height: 120px;
    resize: none;
}
.select{
    position: relative;
    margin: 10px 0 14px 0;
    font-weight: normal;
    color: #989898;
    cursor: pointer;
    user-select: none;
}
.select .chk_1{
    display: none;
}
.select .sel{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #DCDCDC;
    border-radius: 50%;
    background: #fff;
}
.sel:after{
    content: "";
    position: absolute;
    left: 4px;
    top: 6.8px;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #58AADF;
}
.chk_1:checked+.sel:after {
    content: "";
    display: block;
}
/*转账通知*/
.noticeList{
    background: #fff;
}
.noticeLi{
    display: flex;
    padding: 12px 23px 9px;
    border-bottom: 1px solid #f1f1f1;
}
.noticeLi:hover,
.noticeLi.active{
    cursor: pointer;
    background: #F4F4F4;
}
.noticeLi.active .sel:after{
    display: block;
}
.chk{
    display: none;
}
.labelSelect  span.spanSel{
    width: 20px;
    height: 20px;
}
span.spanSel:after{
    content: "";
    left: 4px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #A7C6E6;
}
.noticeLiText{
    margin-left: 23px;
    font-size: 16px;
    color: #354551;
}
.noticeLiAcceptor{
    margin-top: 4px;
    font-size: 13px;
    color: #CCD0D6;
}
.noticeLiTime{
    margin-left: 20px;
    align-self: center;
    color: #ccc;
}
.btnGroupSm{
    position: fixed;
    bottom: 0;
    width: calc(100% - 300px);
    padding: 15px 0;
    text-align: right;
    border-top: 1px solid #f1f1f1;
    background: #F8F9FD;
}
/*设置*/
.walletInfoList{
    background: #fff;
}
.walletInfoA{
    display: flex;
    justify-content: space-between;
    padding: 17px 23px;
    font-size: 16px;
    color: #304050;
    border-bottom: 1px solid #f1f1f1;
}
.arrowRIcon{
    color: #E5E5E5;
}
/*tab*/
.nav-tabs > li > a{
    padding: 10px 25px;
    font-size: 16px;
    color: #C0C0C0;
}
.nav > li > a:hover, .nav > li > a:focus{
    border: 1px solid transparent;
    background: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #78C4FE;
    border: none;
    border-bottom: 3px solid #71C1FF;
    background: transparent;
}
/*钱包*/
.walletUsInfoWrap{
    padding: 20px 40px;
    color: #fff;
    background: url("../img/walletBg.png") no-repeat;
    background-size: 100% 100%;
}
.walletUserImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.walletUserName{
    font-size: 21px;
    margin: 0 10px;
}
.walletUserEdit{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.userAssetsWrap{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
.aboutSymbol{
    font-size: 27px;
    vertical-align: middle;
    margin: 0 15px;
}
.totalAssets{
    font-size: 32px;
    vertical-align: middle;
}
.userEwm{
    width: 23px;
    height: 23px;
    margin-left: 13px;
    cursor: pointer;
}
.operationBtnGroup{
    width: 220px;
}
.operationBtn{
    width: 95px;
    line-height: 13px;
    margin: 12px 5px 0;
    color: #86A7D7;
    font-size: 13px;
    background: #fff;
}
.delWallet{
    color: #EE848F;
    background: #FFDADA;
}
.modal-dialog{
    width: 500px;
}
.modal-header{
    padding: 20px;
    border-bottom: none;
}
.modal-title{
    margin: 0;
    line-height: 1.42857143;
    font-weight: 700;
    letter-spacing: 2px;
}
.close{
    line-height: 20px;
    font-size: 45px;
    font-weight: normal;
}
.modal-body{
    padding: 0 40px;
}
.modalNav > li > a{
    padding: 10px 67px;
}
.modalList li{
    margin-bottom: 22px;
    color: #737373;
}
.resetPsw{
    margin-top: 35px;
}
.modalInput{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-top: 7px;
    border: 1px solid #9DCCFF;
    cursor: pointer;
}
.modalTips{
    color: #a4a4a4;
    cursor: pointer;
}
.modalFooter{
    margin: 40px auto 30px;
    text-align: center;
}
.modalInput,
.modalInpStyle::placeholder{
  color: #A6D5F9;
}
.modalInpStyle{
  width: 80%;
  color: #A6D5F9;
  border: none;
  background: transparent;
}
.modalFooter button{
    width: 180px;
    padding: 8px;
    font-size: 16px;
}
.privateKeyTips{
    margin: 60px 0 52px 0;
    line-height: 27px;
    font-size: 16px;
    color: #CB6056;
}
.outkeyTabText,
.privateKeyText{
    font-size: 16px;
    padding: 25px 19px;
    border-radius: 3px;
    word-wrap: break-word;
    background: #F1F2F4;
}
.tabCon{
    margin-top: 22px;
}
.tabText,
.outkeyTabText{
    font-size: 12px;
    color: #848484;
}
.tabText{
    margin: 5px 0 19px 0;
    line-height: 20px;
}
.outkeyTabText{
    padding: 10px;
}
.outKeyEwm{
    width: 235px;
    padding: 17px;
    margin: 50px auto 70px;
    text-align: center;
    background: #F8FCFF;
}
.outKeyEwmImg{
    width: 200px;
    height: 200px;
}
.table{
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.table > tbody > tr >th,
.table > tbody > tr >td{
    height: 45px;
    line-height: 45px;
    padding:0;
    color: #606266;
}
.table > tbody > tr:not(.table-head):hover{
    background: rgba(0,0,0,.04);
}
.table-head th{
    text-align: center;
    color: #909399;
}
/*秘钥介绍*/
.what{
    padding-right: 55px;
    background: #fff !important;
}
.title-wrap:after{
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    margin: 1em 0 2em 0;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(http://upyun-assets.ethfans.org/assets/divider-top-99e8c9c9d0b4e40bbdcceb87c7d5430ea3e40e6f699706915449c6c6db6a2641.png);
}
.content-title{
    font-size: 24px;
    color: #222;
    text-align: center;
}
.content-main{
    font-size: 15px;
    color: #555;
}
.content-main p,
.content-main li{
    line-height: 24px;
    margin-bottom: 15px;
}
/*协议*/
.sed-title{
    margin: 5px 0 20px 0;
    font-size: 22px;
}
.sed-main > li{
    text-indent: 28px !important;
}
.sed-main li,
.sed-main p,
.sed-main h3{
    margin-bottom: 10px;
}
.sed-main li{
    text-indent: 48px;
    line-height: 24px;
}
.four-list li{
    text-indent: 65px;
}
.sed-main h3{
    font-size: 19px;
}
/*modal*/
.header-style{
    padding: 20px 0 10px 40px;
}
.modal-body-title{
    font-size: 17px;
    font-weight: 700;
}
.modalEwm{
    width: 150px;
    height: 150px;
}
.see-list{
    display: block;
    margin:14px 0 15px 0;
    font-size: 15px;
    color: #2e6da4;
}
.modal-li{
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #EBEBEB;
}
.modal-li:last-child{
    border-bottom: none;
}
.change-tips{
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.date-style{
    font-size: 13px;
    color: #D7D7D7;
}

.remote_resource_html h4,
.remote_resource_html h3,
.remote_resource_html b{
  color: #000;
  font-weight: 700;
}
.remote_resource_html h4{
  margin: 1.33em 0;
  line-height: normal;
  font-size: 14px;
}
.remote_resource_html p,
.remote_resource_html h3{
  margin: 1em 0;
}
.remote_resource_html h3{
  font-size: 1.17em;
}
.remote_resource_html p{
  color: #070707;
}
