.walletRightCenter{
    background: #fff;
}
.trendTips{
    padding:20px 80px 20px 0;
    background: #F8F9FD;
}
.trendTipsText{
    font-size: 12px;
    color: #BFC4CA;
}
.trendTipsText:before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 2px;
    border-radius: 50px;
    background: #EE9400;
}
.assetsBg:before{
    content: '';
    background: #153350;
}
.detailText{
    margin-right: 9px;
    font-size: 23px;
    color: #153350;
    font-weight: 700;
}
.tranImg{
    width: 100%;
    height: 300px;
}
.recordTips{
    margin: 20px 0 0 40px;
    color: #999CA2;
}
/*.modalInput,*/
/*.modalInpStyle::placeholder{*/
    /*color: #A6D5F9;*/
/*}*/
/*.modalInpStyle{*/
    /*width: 80%;*/
    /*color: #A6D5F9;*/
    /*border: none;*/
    /*background: transparent;*/
/*}*/
.modalTF{
    display: flex;
    justify-content: space-between;
}
.modalEwm{
    width: 150px;
    height: 150px;
}
.btnGroupSm{
    background: #fff;
}
