.addAssetsWrap,
.assetsLi{
    width: 230px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
}
.assetsLi{
    display: inline-block;
    padding: 12px 10px;
    background: url(../img/assetsImg.png) no-repeat;
    background-size: 100% 100%;
}
.assetsLiImg{
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.assetsLiTitle {
  margin-left: 5px;
  font-size: 18px;
  color: #354D6F;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}
.assetsInfor{
    margin-top: 10px;
    text-align: right;
    color: #fff;
}
.assetsMoney{
    margin-top: 2px;
    font-size: 21px;
    color: #59725D;
}
.addAssetsWrap{
    display: block;
    height: 148.6px;
    text-align: center;
    color: #BBBABF;
    border: 1px solid #EEEDF1;
}
.addImg{
    width: 30px;
    height: 30px;
    margin: 34px 0 7px 0;
}
.resource-list li{
}
.resource-list li:hover a{
  /*border: 1px solid #eee;*/
  /*outline: 1px solid #eee;*/
  box-shadow: -5px 5px 10px steelblue;
}
/* 代币发行*/
.modal-content-style{
  width: 396px;
  height: 440px;
  margin: 280px auto 0;
  border-radius: 2px;
}
.close-btn{
  float: right;
  width: 10px;
  height: 10px;
  border: 0;
  background: transparent;
}
.modal-body-style{
  padding: 20px 53px 40px;

}
.modal-text-title{
  margin-bottom: 24px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  font-size: 16px;
  color: rgb(82,86,89);
  text-align: center;
}
.modal-text{
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: rgb(107,107,107);
  line-height: 22px;
}
.isson-btn{
  width: 230px;
  height: 36px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: rgb(255,255,255);
  text-align: center;
  border: none;
  border-radius: 4px;
  background: rgb(121,124,227);
}
.isson-btn:first-child{
  margin-bottom: 30px;
  background: rgb(93,167,255);
}
