.addAssetsWrap,
.assetsLi{
    width: 230px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
}
.assetsLi{
    display: inline-block;
    padding: 12px 10px;
    background: url(../img/assetsImg.png) no-repeat;
    background-size: 100% 100%;
}
.assetsLiImg{
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.assetsLiTitle {
    margin-left: 5px;
    font-size: 18px;
    color: #354D6F;
}
.assetsInfor{
    margin-top: 10px;
    text-align: right;
    color: #fff;
}
.assetsMoney{
    margin-top: 2px;
    font-size: 21px;
    color: #59725D;
}
.addAssetsWrap{
    display: block;
    height: 148.6px;
    text-align: center;
    color: #BBBABF;
    border: 1px solid #EEEDF1;
}
.addImg{
    width: 30px;
    height: 30px;
    margin: 34px 0 7px 0;
}
.resource-list li{
}
.resource-list li:hover a{
  /*border: 1px solid #eee;*/
  box-shadow: -5px 5px 10px steelblue;
}
